.App {
  text-align: center;
  background-color: #25b7c0;
}

.App-title {
  text-align: left;
  font-size: 64px;
  font-weight: bold;
  padding: 5px;
  color: black;
  background-color: white;
}

.App-ContentTitle {
  text-align: left;
  font-size: 64px;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: #25b7c0;;
}
.App-subtitle {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  color: black;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

p {
  line-height: 60px;
}

a {
  text-decoration: underline;
}

.space {
  line-height: 100px;
}

button.btn_02 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
  border-radius: 20px;
	width: 150px;
	margin: auto;
	padding: 1rem;
	font-weight: bold;
	border: 2px solid #f3981d;
	background: orange;
	color: white;
}

button.btn_02:hover {
	color: white;
	background: #d2691e;
  transition: 0.5s;
}