body {
  font-family: sans-serif;
  text-align: center;
  background-color: lightskyblue;
  color: white;
  font-size: 20px;
}
.example {
  background-color: orange;
  color: white;
  position: relative;
  top: 450px;
  right: 200px;
  width: 200px;
  height: 50px;
}
.hage {
  position: relative;
  top: 200px;
  font-size: 30px;
}
